.content-listing {
    padding: 20px 0;
    width: 33.33%;
    width: calc(100%/3);
    float: left;
}

.content-listing h3 {
    text-align: center;
    font-size: 130%;
    margin-bottom: 10px;
    font-family: sans-serif;
    color: #B53030;
}

.content-listing .content-listing-block {
    width: 80%;
    margin: 0 auto 20px;
    background: #B53030;
    border: 1px black solid;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.content-listing .content-listing-block img {
    width: 92%;
    padding: 4%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.content-listing .content-listing-block h4 {
    padding: 0 20px 10px;
    text-align: center;
    font-size: 120%;
    font-family: sans-serif;
}

.content-listing .content-listing-block h4 a {
    color: #880000;
    text-decoration: none;
}

.content-listing .content-listing-block h4 a:hover {
    color: #941515;
    text-decoration: underline;
}

.content-listing .content-listing-block p {
    font-family: sans-serif;
    margin: 0 5% 5%;
}

@media only screen
and (min-width: 769px)
and (max-width: 1024px) {
 
    .content-listing h3 {
        font-size: 110%;
    }

    .content-listing .content-listing-block h4 {
        font-size: 110%;
    }

    .content-listing .content-listing-block p {
        font-size: 90%;
    }
}